
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background: #000;
    color: white;
    position: relative;
}